body {
  width: 960px;
}

#content {
  border: thin solid black;
  padding: 1ex;
}

#left {
  width: 250px;
  float: left;
}

#right {
  width: 700px;
  margin-left: 250px;
}

#footer {
  margin-top: 1ex;
  border-top: thin solid black;
  clear: both;
  font-size: smaller;
}

ul.menu {
  display: block;
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

ul.menu li {
  display: inline;
  list-style: none;
  padding: 0px 10px;
}

.navmenu {
  margin-bottom: 2ex;
  margin-left: 1ex;
  margin-right: 1ex;
  border: thin solid black;
  padding: 1ex;
}

.navmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navmenu li {
  padding: 2px;
}

.navmenu a:link {
  text-decoration: none;
  color: black;
  padding: 5px;
}

.navmenu a:visited {
  color: black;
}

.navmenu a:hover {
  background-color: #c0c0c0;
}

.navmenu a:active {
  text-color: #ff0000;
}

